/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


#define AS(keycode) &as LS(keycode) keycode

// LAYERS
#define DEFAULT 0
#define NUM     1
#define SYM     2
#define NAV     3
#define LON     4
#define RON     5

/ {
    chosen {
      zmk,matrix_transform = &five_column_transform;
    };

    behaviors {
        as: auto_shift {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping_term_ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

         hmp: homerow_mods_p {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_PINKIE";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

        combos {
           compatible = "zmk,combos";
           combo_cword {
           layers = <0 1>;
           timeout-ms = <50>;
           key-positions = <28 29>;
           bindings = <&kp CAPSLOCK>;
           };

           combo_sj {
           layers = <1 2>;
           timeout-ms = <50>;
           key-positions = <27 28>;
           bindings = <&kp F18>;
           };
           
           combo_bspc {
           layers = <0 1>;
           timeout-ms = <50>;
           key-positions = <7 8>;
           bindings = <&kp BSPC>;
           };

           combo_renter {
           layers = <0 1>;
           timeout-ms = <50>;
           key-positions = <26 27>;
           bindings = <&kp RET>;
           };

           combo_lspace {
           layers = <0 1>;
           timeout-ms = <50>;
           key-positions = <22 23>;
           bindings = <&kp SPACE>;
           };

           combo_lenter {
           layers = <0 1>;
           timeout-ms = <50>;
           key-positions = <21 22>;
           bindings = <&kp RET>;
           };

           combo_lesc {
           layers = <0 1>;
           timeout-ms = <50>;
           key-positions = <2 3>;
           bindings = <&kp ESC>;
           };

           combo_resc {
           layers = <0 1>;
           timeout-ms = <50>;
           key-positions = <6 7>;
           bindings = <&kp ESC>;
           };
        
            /*                              36 KEY MATRIX / LAYOUT MAPPING
            ╭────────────────────┬────────────────────╮ ╭─────────────────────┬─────────────────────╮
            │  0   1   2   3   4 │  5   6   7   8   9 │ │ LT4 LT3 LT2 LT1 LT0 │ RT0 RT1 RT2 RT3 RT4 │
            │ 10  11  12  13  14 │ 15  16  17  18  19 │ │ LM4 LM3 LM2 LM1 LM0 │ RM0 RM1 RM2 RM3 RM4 │
            │ 20  21  22  23  24 │ 25  26  27  28  29 │ │ LB4 LB3 LB2 LB1 LB0 │ RB0 RB1 RB2 RB3 RB4 │
            ╰───────╮ 30  31  32 │ 33  34  35 ╭───────╯ ╰───────╮ LH2 LH1 LH0 │ RH0 RH1 RH2 ╭───────╯
                    ╰────────────┴────────────╯                 ╰─────────────┴─────────────╯             */
        
           combo_resc {
           layers = <2>;
           timeout-ms = <50>;
           key-positions = <1 2>;
           bindings = <&kp EXCL>;
           };

           combo_sqt {
           layers = <2>;
           timeout-ms = <50>;
           key-positions = <7 8>;
           bindings = <&kp SQT>;
           };
              
           combo_dqt {
           layers = <2>;
           timeout-ms = <50>;
           key-positions = <17 18>;
           bindings = <&kp DQT>;
           };
        };
        
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                // --------------------------------------------------------------------
                // |  Q  |  W  |  E  |  R  |  T  |     |  Y  |  U   |  I   |  O   | P |
                // |  A  |  S  |  D  |  F  |  G  |     |  H  |  J   |  K   |  L   | ; | 
                // |  Z  |  X  |  C  |  V  |  B  |     |  N  |  M   | ,    |  .   | / | 
                //             | ESC |BSPC | TAB |     | RET | SPC  | ESC  |
                        display-name = "aps";
                        bindings = <
    &kp Q       &kp W        &kp E        &kp R            &kp T /*              */ &kp Y         &kp U           &kp I         &kp O        &kp P
    &hmp LALT A &hm LCTRL S  &hm LGUI D   &hm LSHIFT F     &kp G /*              */ &kp H         &hm RSHIFT J    &hm RGUI K    &hm RCTRL L  &hmp RALT SEMI
    &kp Z       &kp X        &kp C        &kp V            &kp B /*              */ &kp N         &kp M           &kp COMMA     &kp DOT      &mt RSHIFT FSLH
                             &lt LON ESC  &lt SYM BSPC     &mt LGUI TAB /*       */ &lt NAV RET   &lt NUM SPACE   &lt RON ESC
                        >;
                };

                mnfn_layer {
                // -------------------------------------------------------------
                // | F1 | F2 | F3 | F4  | F5  |     |   |  1  |  2  |  3  |  . |
                // | F6 | F7 | F8 | F9  | F10 |     |   |  4  |  5  |  6  |  , |
                // |    |    |    | F11 | F12 |     |   |  7  |  8  |  9  |  0 |
                //           |    |     |     |     |   |     |     |
                        display-name = "fnm";
                        bindings = <
    &kp F1       &kp F2        &kp F3       &kp F4         &kp F5  /*            */ &trans    &kp N1        &kp N2       &kp N3        &kp DOT
    &hm LALT F6  &hm LCTRL F7  &hm LGUI F8  &hm LSHIFT F9  &kp F10 /*            */ &trans    &hm RSHIFT N4 &hm RGUI N5  &hm RCTRL N6  &hm RALT COMMA
    &trans       &trans        &trans       &kp F11        &kp F12 /*            */ &trans    &kp N7        &kp N8       &kp N9        &kp N0
                               &trans       &trans         &trans  /*            */ &trans    &trans        &trans
                        >;
                };

                sym_layer {
                // ---------------------------------------------------------------
                // |   |  @  |  # |  $ |  % |            |  ^ |  & |  * | `  | ~ |
                // | ' |  =  |  { |  [ | <  |            |  > |  ] |  } | _  | : |
                // | " |  \  |  - |  ( |    |            |    |  ) |  + | |  | ? |
                //           |    |    |    |            |    |    |    |
                    display-name = "syb";
                        bindings = <
   &none     &kp AT      &kp HASH   &kp DLLR   &kp PRCNT /*            */ &kp CARET  &kp AMPS  &kp ASTERISK  &kp GRAVE   &kp TILDE
   &kp SQT   &kp EQUAL   &kp LBRC   &kp LBKT   &kp LT    /*            */ &kp GT     &kp RBKT  &kp RBRC      &kp UNDER   &kp COLON
   &kp DQT   &kp BSLH    &kp MINUS  &kp LPAR   &none     /*            */ &none      &kp RPAR  &kp PLUS      &kp PIPE    &kp QMARK
                         &trans     &trans     &trans    /*            */ &trans     &trans    &trans
                        >;
                };

                nav_layer {
                // ---------------------------------------------------------------------------------
                // |       |       |      |        |     |          |     | HOM |  UP  |PG_UP|     |
                // | LALT  | LCTRL | LGUI | LSHIFT |     |          |     | LFT |  DWN | RGT |     |
                // |       |       |      |        |     |          |     | END |  DEL |PG_DN|     |
                //                 |      |        |     |          |     |     |      | 
                        display-name = "nav";
                        bindings = <
   &trans       &trans       &trans       &trans        &trans /*            */ &trans   &kp HOME  &kp UP    &kp PG_UP   &trans
   &kp LALT     &kp LCTRL    &kp LGUI     &kp LSHIFT    &trans /*            */ &trans   &kp LEFT  &kp DOWN  &kp RIGHT   &trans
   &trans       &trans       &trans       &trans        &trans /*            */ &trans   &kp END   &kp DEL   &kp PG_DN   &trans
                             &trans       &trans        &trans /*            */ &trans   &trans    &trans
                        >;
                };

                lonly_layer {
                // ----------------------------------------------------------------------------
                // | vdr-r | vdr-l | vdr-u |     |        | BT1 | BT2 | BT3 | BT4 | BT5 |     |
                // |       |       | vdr-d |     |        |     | BTC |     |     |     |     |
                // |       |       |       |     |        |     |     |     |     |     |     |
                //                 |       |     |        |     |     |     |     |
                        display-name = "lly";
                        bindings = <
   &kp LC(LEFT) &kp LC(RIGHT) &kp LC(UP)    &none         &none /*            */ &bt BT_SEL 0  &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3  &bt BT_SEL 4
   &none        &none         &kp LC(DOWN)  &none         &none /*            */ &bt BT_CLR    &none        &none        &none         &none
   &none        &none         &none         &none         &none /*            */ &none         &none        &none        &none         &none
                              &trans        &none   &bootloader /*            */ &none         &none        &none
                        >;
                };
 
                ronly_layer {
                // -----------------------------------------------------------------
                // |     |     |     |     |     |        |    |    |    |    |    |
                // |     |     |     |     |     |        |    |    |    |    |    |
                // |     |     |     |     |     |        |    |    |    |    |    |
                //             |     |     |     |        |    |    |    |
                            display-name = "rly";
                            bindings = <
       &none     &none      &none     &none     &none /*            */ &none           &none      &none     &none     &none
       &none     &none      &none     &none     &none /*            */ &none           &none      &none     &none     &none
       &none     &none      &none     &none     &none /*            */ &none           &none      &none     &none     &none
                            &none     &none     &none /*            */ &bootloader     &none      &trans
                            >;
                    };
        };
};